.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navbar-logo a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin-left: 1rem;
  }
  
  .navbar-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: rgb(117, 115, 115);
  }

  body {
    padding-top: 30px;
  }